.cabecalhoPrincipal .container{
    align-items: center; 
    display: flex;  
    justify-content: space-between;
}
.cabecalhoPrincipal-nav {
    display: flex;
}
.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}
.conteudoPrincipal-cursos-link {
    width: 23%;
    /* margin: 1; */
}
.conteudoPrincipal-cursos-linl:nth-child(4n){
    margin-right: 0;
}
.conteudoPrincipal-cursos-linl:nth-child(4n+1){
    margin-left: 0;
}
.videoSobre .container{
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.videoSobre-sobre {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.videoSobre-button{
    cursor: pointer;
    margin-top: 15px;
}
.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 260px;
}
.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
    width: 70%;
}
.rodapePrincipal-contatoForm{
    width: 25%;
}
.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}
